<h3 class="page-title"></h3>

<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
            <i class="fa fa-angle-right"></i>
			<a href="#/ng_hospital.html">Hospital</a>
			
		</li>
		
	</ul>
	
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SPINNER -->
 <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>


<div class="row">
    
    <div class="col-md-12">
        <div class="portlet light bordered">
            
            <div class="col-md-3">
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
						<input type="text" id="hospital_name" name="petient_name" placeholder="Search Petient" class="form-control"/>
                </div>
            </div>
            <div class="portlet-body"></div>
            
            <table class="table .table-striped">
                    <tr>
                        <th colspan="6"><center><h4>Petient List</h4></center></th>
                    </tr>
                    <tr>
                        <th>Petient Name</th>
                        <th>Hospital Name</th>
                        <th>Appointment Status</th>
                        <th> Date</th>
                        <th>Petients Details</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Rohit Kulkarni</td>
                        <td>Mai mangeshkar</td>
                        <td>On_hold</td>
                        <td>12-11-2017</td>
                        <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#petients">View</button></td>
                        <td><button type="button" class="btn btn-link" >Active</button></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<div id="petients" class="modal fade" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Petient Details</h4>
							</div>
                            <div class="portlet light bordered">
							<div class="modal-body">
								<form action="#" name="petient_details" class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-4 control-label">Petient Name</label>
										<div class="col-sm-8">
											<div class="input-group">
												
												<input type="text"  id="p_name" name="p_name" class="form-control btnradius"/>
											</div>
											<p class="help-block"></p>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-4 control-label">Address</label>
										<div class="col-sm-8">
											<div class="input-group">
												
												<input type="text" id="p_address" name="p_address" class="form-control"/>
											</div>
											<p class="help-block"></p>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-sm-4 control-label">Age</label>
										<div class="col-sm-8">
											<div class="input-group">
												
												<input type="text" id="p_age" name="p_age" class="form-control"/>
											</div>
											<p class="help-block"></p>
										</div>
									</div>
                                     <div class="form-group">
										<label class="col-sm-4 control-label">Diseases Description</label>
										<div class="col-sm-8">
											<div class="input-group">
												
												<textarea type="text" id="p_dis" name="p_dis" class="form-control"/>
											</div>
											<p class="help-block"></p>
										</div>
									</div>
                                     <div class="form-group">
										<label class="col-sm-4 control-label">Petient Note</label>
										<div class="col-sm-8">
											<div class="input-group">
												
												<input type="text" id="p_note" name="p_note" class="form-control"/>
											</div>
											<p class="help-block"></p>
										</div>
									</div>
                                    
								</form>
                                </div>
                            </div>
                            
                           
							<div class="modal-footer">
                                <button class="btn green btn-primary btnradius" data-dismiss="modal">Update</button>
								<button class="btn btn-default btnradius" data-dismiss="modal" aria-hidden="true">Close</button>
							
							</div>
						</div>
                            
					</div>
				</div>